body{
    background-color: bisque;
    background-image: url(../imgs/tải\ xuống.jpg);
    background-size: cover;
}
h1{

}
p{
    color: rgb(128, 123, 123);
    font-size:40 px';
    line-height: 1,5;
    font-family : "Roboto",sans-serif ;
    text-align : justify ; * center left right 
    fort-weight:400;/*100 200 300 400 
}